body {
  background-image: url(content/img_fundo.png);
  background-size: cover;
  background-repeat: repeat-y;
  width: 80%;
  margin: 0 auto;
}

#fundo_azul {
  background: white;
  border-style: solid;
  border-width: 15px;
  border-color: #5e9bd4;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10vw;
}

header {
  text-align: center;
  margin-bottom: 80px;
}

header img {
  width: 80%;
  margin-bottom: 40px;
}

h1 {
  font-family: BebasNeueBold;
  font-size: 16pt;
  letter-spacing: 9pt;
  text-align: center;
  color: #6e6e6e;
  margin: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #6e6e6e;
}

p {
  font-family: Times, serif;
  font-size: 12pt;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

.paragrafo_margem_maior {
  margin-bottom: 15px;
}

.post {
  text-align: center;
  margin-bottom: 100px;
}

hr {
  width: 80%;
  margin-bottom: 50px;
}

.titulo {
  margin-bottom: 50px;
}

.img1 {
  width: 80%;
  margin-bottom: 20px;
}

.texto_e_imagens {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.texto_e_imagens p {
  width: 75%;
  font-size: 14pt;
  margin-bottom: 20px;
}

.texto_e_imagens .img_vertical {
  width: 50%;
  margin-bottom: 20px;
  align-self: flex-end;
}

.texto_e_imagens .img_horizontal {
  width: 75%;
  margin-bottom: 20px;
}

.texto_e_imagens .texto_esquerda {
  text-align: left;
}

.texto_e_imagens .texto_direita {
  text-align: right;
  align-self: flex-end;
}

.pauta_desenho {
  width: 65%;
  margin-bottom: 20px;
}

.espessura {
  border-style: solid;
  border-width: 3px;
}

#cor_rc {
  color: #ff4949;
}

#titulo_rc {
  width: 40%;
}
